@charset "utf-8";
@import url(reset.css);
.inner-container{width: 1140px; margin: 0 auto;}


.wrap{}
.header{padding: 0.5em; background-color: #fbfbfb; border-bottom: 1px solid #dfdfdf;}
.container{margin-top: 15px;}
.footer{background-color: #666;color:#fff; padding:1em 0em;}
