body, ul, li{margin: 0; padding: 0;}
img{border:0 none;}
ul{list-style: none;}
.gnb ul{background-color: #0275f4; min-width: 320px;}
.gnb ul:after{display: block; clear: both; content:'';}
.gnb ul li{float: left; width: 12.5%;}
.gnb ul a{display: block;padding: 10px 0;color: #fff; text-decoration: none;text-align: center;
		white-space: nowrap; letter-spacing: -1px; font-size: 14px; font-weight: bold;
	 	 border-bottom: 3px solid #000}
.gnb ul li.on a{border-bottom: 3px solid #fff;}

.slidesjs-pagination{display: none;}

.bnr ul:after{display: block; clear: both; content:'';}
.bnr li{float: left; width: 20%;padding: 5px; box-sizing: border-box;}
.bnr li img{width: 100%;}